Algoritms
1. Business problem
2. Data Gathering
3. Data Cleaning
4. Data Preparation
5. Design and build NN
6. Measure Accuracy
7. Future Data

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

data=pd.read_csv('/content/Churn_Modelling.csv')
data.head(10)

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
5,6,15574012,Chu,645,Spain,Male,44,8,113755.78,2,1,0,149756.71,1
6,7,15592531,Bartlett,822,France,Male,50,7,0.00,2,1,1,10062.80,0
7,8,15656148,Obinna,376,Germany,Female,29,4,115046.74,4,1,0,119346.88,1
8,9,15792365,He,501,France,Male,44,4,142051.07,2,0,1,74940.50,0
9,10,15592389,H?,684,France,Male,27,2,134603.88,1,1,1,71725.73,0

In [ ]:
#import libraries

import keras
from keras.models import Sequential
from keras.layers import Dense
from sklearn import model_selection
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
from sklearn.metrics import confusion_matrix

# import tensorflow as tf
# tf.reset_default_graph()

In [ ]:
# Shape and size of the dataset

print("shape of data:", data.shape)
print("size of data:", data.size)

shape of data: (10000, 14)
size of data: 140000

In [ ]:
# Data cleaning

# Drop the column which are unique for all users like id
data = data.drop(['RowNumber', 'CustomerId', 'Surname'], axis=1)
data.info()

In [ ]:
# Target

print("Target:\n\n", data['Exited'].value_counts())

In [ ]:
# Geography

print("Geography:\n\n", data['Geography'].value_counts())

In [ ]:
# Data Preperation

# Distinguish the feature and target set
x = data.iloc[:0:10].values # credit score through estimated salary
y = data.iloc[:,10].value_counts # Exited

In [ ]:
# Hot encoding
#Encoding Categorical(string based) Data
# Country:
# there are 3 options: france, spain, germany
# This will convert those strings into scaler for analysis

print(x[:8,1], '..will now become:')

label_x_country_encoder = LabelEncoder()
x[:,1] = label_x_country_encoder.fit_transform(x[:,1])
print(x[:8,1])

#Gender
#Male or Female
# this will convert those string to scaler values for analysis

print(x[:6,2], '..will now become:')

label_x_gender_encoder = LabelEncoder()
x[:,2] = label_x_gender_encoder.fit_transform(x[:,2])
print(x[:6,2])

countryhotencoder = OneHotEncoder(categorical_features = [1])
x = countryhotencoder.fit_transform(x).toarray()

x = x[:, 1:]

In [ ]:
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size=0.2, random_state=10)

In [ ]:
# NormalizTION FEATURE sCALING

from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
x_train = sc.fit_transform(x_train)
x_test = sc.transform(x_test)

Design and Building NN

In [ ]:
# initializing the ANN
classifier = Sequential()

In [ ]:
# Input Layers
classifier.add(Dense(activation='relu', input_dim = 11, units=6))

In [ ]:
# Add first hidden layers
# The amount of nodes in hidden layers should be the average of input and output layers
# in this case 6

classifier.add(Dense(6, activation='sigmoid', kernal_initializer='uniform'))

In [ ]:
# adding the output layer
# Notice that we do not need to specify input dim
# we have an output of i node, which is the desired dimention of our output
# we use sigmoid because we want probability outcome

classifier.add(Dense(1, activation='sigmoid', kernel_initializer='uniform'))

In [ ]:
# optimizer

classifier.compile(optimizer='SGD', loss='mse', metrics=['accuracy'])
print("classifier Summary:/n", classifier.summary())

In [ ]:
# fit model

classifier.fit(x_train, y_train,
               validation_data = (x_test, y_test),
               epochs = 500
               batch_size = 32)

In [ ]:
 # Original Predicted Values

 y_pred = classifier.predict(x)
 print(y_pred)

In [ ]:
ds['Predict'] = y_pred

In [ ]:
ds.head()

In [ ]:
y_pred = (y_pred>0.5)
print(y_pred)

In [ ]:
# Accuracy Check

cml = confusion_matrix(y_test, y_pred)

accuracy_model = ((cml[0][0]+cml[1][1]*100)/cml[0][0]+cml[1][1]+cml[0][1]+cml[1][0])
print("\n\nModel Accuracy:\n", accuracy_model,'%')